.Blue{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 7px 7px 7px darkblue;
}
.red{
    font-size: 15px;
    color: black;
}
.green{
    position: fixed;
    color: black;
    background-color: red;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3;
    font-size: 15px;
}
